<li>
    <div class="col">
        <div class="image-container">
            <p class="new-badge">Nieuw</p>
            <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="huis-img">
        </div>
    </div>
    <section class="col">
        <div class="title-row">
            <h2 class="street"><a href="/house/<%= house.id %>"><%= house.street %></a></h2>
            <button type="button" class="btn-remove"><img src="/assets/remove.svg" alt="remove-icon"></button>
        </div>

        <p><%= house.postal_code + house.city %></p>
        <p class="price">€ <%= house.price %> k.k.</p>
        <p><%= house.m2 + "m² / " + house.m2_garden + "m² / " + house.rooms + " kamers" %></p>
        <p class="agent"><%= house.agent !== null && house.agent !== "" ? house.agent : "geen makelaar" %></p>

        <article class="row">
            <button type="button" class="btn-dropdown">+ Groep rating</button>
            <%- include('./stars', {option: 0}) %>
        </article>
        
        <article class="group-rating">
            <h2>Score</h2>
            <ul class="group-list">
                <li>
                    <button type="button" class="btn-dropdown row btn-user">
                        <p>+ Mohammed</p>
                        <%- include('./stars', {option: 0}) %>
                    </button>
                    <form method="POST" action="" class="user-ratings">
                    <input value="<%= house.id %>" name="houseId">
                    <input value="1" name="userId">
                    <% if (ratings) { %>
                    <% ratings.forEach(rating => { %>
                        <p>House ID: <%= rating.houseId %></p>
                        <p>User ID: <%= rating.userId %></p>
                        <ul>
                            <% rating.rating.forEach(value => { %>
                                <li>Rating: <%= value %></li>
                            <% }) %>
                        </ul>
                    <% }) %>
                    <% }else {} %>
                    <ul>
                        <li class="row">
                            <input type="text" name="category1" value="Algemeen">
                            <%- include('./stars', {option: 1}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category2" value="Keuken">
                            <%- include('./stars', {option: 2}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category3" value="Tuin">
                            <%- include('./stars', {option: 3}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category4" value="Ligging">
                            <%- include('./stars', {option: 4}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category5" value="Badkamer">
                            <%- include('./stars', {option: 5}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category6" value="Prijs">
                            <%- include('./stars', {option: 6}) %>
                        </li>
                        <li class="row">
                            <input type="text" name="category7" value="Oppervlakte">
                            <%- include('./stars', {option: 7}) %>
                        </li>
                    </ul>
                    <button type="submit" class="btn-secondary">Opslaan</button>
                    </form>
                </li>
            </ul>
        </article>

    </section>
</li>