<ul class="star-list">
    <% for (let i = 1; i <= 5; i++) { %>
        <li class="star-item">
            <label for="<%= category %>-star<%= i %>"></label>
            <% if (input) { %>
            <input type="radio" name="<%= category %>" id="<%= category %>-star<%= i %>" value="<%= i %>">
            <% } %>
        </li>
    <% } %>
</ul>